* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary:#03b3ff;
    --secondary:#ffd503;
    --tertiary:#ff035b;
    --grey:#F0F0F0;
    font-family: Arial;
}

body {
    background-image: url('/img/background-seemless.jpg');
}

header img {
    display: block;
    height: 100px;
}

nav {
    display: flex;
    background: var(--primary);
}

nav ul {
    display: block;
}

nav li {
    display: inline-block;
    padding: 0.5rem;
    vertical-align: middle;
}

nav li a {
    display: block;
    font-size: 1.2rem;
    color:var(--tertiary);
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

#wrapper {
    min-height: calc(100vh - 3rem);
}

#mobile-header {
    display: none;
}

#mobile-menu {
    display: none;
}

#mobile-close {
    display: none;
}

@media only screen and (max-width: 600px){
    nav {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
    }
    
    nav li {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
    }
    
    #mobile-header {
        display: block;
        background: var(--primary);
        text-align: center;
        padding: 1rem;
        color: var(--tertiary);
        font-size: 1.5rem;
    }
    
    #mobile-menu {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 48px;
        height: 48px;
        cursor: pointer;
    }
    
    #mobile-close {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
}

main {
    margin: 2rem auto 2rem auto;
    max-width: 800px;
}

main h1 {
    text-align: center;
    color: var(--secondary);
    margin:0.5rem;
    text-shadow: 2px 2px #000000aa;
    font-size: 3rem;
}

main h2 {
    text-align: center;
    color: var(--tertiary);
    margin:0.5rem;
    font-size: 2rem;
}

form {
    display: grid;
    grid-template-columns:2fr 4fr;
    grid-gap: 0.5rem;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    background: var(--grey);
    border-radius: 1rem;
}

main label {
    padding: 0.3rem;
}

main input, main textarea {
    display: block;
    padding: 0.3rem;
    resize: none;
    font-size: 12px;
}

input[type='checkbox'] {
    width: 1rem;
}

footer {
    width: 100%;
    background: var(--primary);
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Profile image anywhere on the website will be this style. */

.profile-img {
    display: block;
    width: 100px;
    border-radius: 100%;
}

/* My two custom alert box themes */

.success-alert {
    background: rgba(0,255,0,0.5);
    padding: 1rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    border: 2px solid green;
}

.failure-alert {
    background: rgba(255,0,0,0.5);
    padding: 1rem;
    text-align: center;
    color: white;
    border-radius: 1rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    border: 2px solid red;
}