main ul {
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    background: var(--grey);
    border-radius: 1rem;
    list-style: none;
}

main li {
    margin-top: 0.5rem;
}

main #leave-link {
    margin-top: 1rem;
    display: block;
    text-align: center;
}

main #chat-messages {
    background: var(--grey);
    margin-bottom:1rem;
}