form {
    display: block;
}

form textarea {
    display: block;
    margin: auto;
    width: 100%;
    height: 8rem;
}

form input {
    display: block;
    padding: 0.6rem 2rem 0.6rem 2rem;
    margin: auto;
}

#timeline .post {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#timeline img {
    padding: 1rem;
}

#timeline p {
    background: var(--grey);
    padding: 1rem;
    margin: 0.5rem;
}