#profile {
    display: grid;
    grid-template-columns:100px 1fr;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    background: var(--grey);
    border-radius: 1rem;
    list-style: none;
    margin-bottom: 1rem;
}

#profile p {
    margin-left: 1rem;
}

#delete {
    display: block;
    text-align: center;
    margin-top: 1rem;
}